* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
  text-align: center;
}

.chronoApp {
  background: rgb(2, 73, 2);
  padding: 40px 80px;
  border-radius: 20px;
  min-height: 300px;
  width: 500px;
}

h1 {
  text-transform: uppercase;
  margin-bottom: 30px;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

input {
  width: 150px;
  height: 30px;
}

button {
  height: 30px;
  width: 100px;
}

h2 {
  font-size: 3.5rem;
}
